@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  :root {
    --background: 0 0% 100%
      /* white */
    ;
    --foreground: 229 84% 5%
      /* slate-950 */
    ;
    --card: 0 0% 100%
      /* white */
    ;
    --card-foreground: 229 84% 5%
      /* slate-950 */
    ;
    --popover: 0 0% 100%
      /* white */
    ;
    --popover-foreground: 229 84% 5%
      /* slate-950 */
    ;
    --primary: 263 84% 58%
      /* violet-600 */
    ;
    --primary-foreground: 251 100% 98%
      /* violet-50 */
    ;
    --secondary: 48 97% 89%
      /* amber-100 */
    ;
    --secondary-foreground: 22 78% 27%
      /* amber-900 */
    ;
    --muted: 210 41% 97%
      /* slate-100 */
    ;
    --muted-foreground: 216 17% 47%
      /* slate-500 */
    ;
    --accent: 48 97% 89%
      /* --accent: 0 94% 95% */
      /* red-100 */
    ;
    --accent-foreground: 22 78% 27%
      /* --accent-foreground: 0 63% 31% */
      /* red-900 */
    ;
    --destructive: 0 85% 61%
      /* red-500 */
    ;
    --destructive-foreground: 211 41% 99%
      /* slate-50 */
    ;
    --border: 215 32% 92%
      /* slate-200 */
    ;
    --input: 215 32% 92%
      /* slate-200 */
    ;
    --ring: 263 84% 58%
      /* violet-600 */
    ;
    --radius: 0.5rem;
  }

  .dark {
    --background: 229 84% 5%
      /* slate-950 */
    ;
    --foreground: 211 41% 99%
      /* slate-50 */
    ;
    --card: 229 84% 5%
      /* slate-950 */
    ;
    --card-foreground: 211 41% 99%
      /* slate-50 */
    ;
    --popover: 229 84% 5%
      /* slate-950 */
    ;
    --popover-foreground: 211 41% 99%
      /* slate-50 */
    ;
    --primary: 263 84% 58%
      /* violet-600 */
    ;
    --primary-foreground: 251 100% 98%
      /* violet-50 */
    ;
    --secondary: 23 83% 32%
      /* amber-800 */
    ;
    --secondary-foreground: 48 100% 97%
      /* amber-50 */
    ;
    --muted: 218 33% 18%
      /* slate-800 */
    ;
    --muted-foreground: 216 21% 66%
      /* slate-400 */
    ;
    --accent: 0 70% 36%
      /* red-800 */
    ;
    --accent-foreground: 0 86% 98%
      /* red-50 */
    ;
    --destructive: 0 63% 31%
      /* red-900 */
    ;
    --destructive-foreground: 211 41% 99%
      /* slate-50 */
    ;
    --border: 218 33% 18%
      /* slate-800 */
    ;
    --input: 218 33% 18%
      /* slate-800 */
    ;
    --ring: 263 84% 58%
      /* violet-600 */
    ;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}
